---
// props: name, baseData, dlcData, traitsBase, traitsDLC, biography, battlesBase, battlesDLC, equipments, links
import BarChart from '../components/BarChart.jsx';
import RadarChart from '../components/RadarChart';
import RadarChart_DLC from '../components/RadarChart_DLC.jsx';
import FiveStringTable from '../components/Table_Traits.jsx';

type CharacterWikiProps = {
    intro: string;
    baseData: number[];
    AttributeFigure: number[];
    dlcData: number[];
    dlcAttributeFigure: number[];
    baseData2: number[];
    dlcData2: number[];
    traitsBase: string[];
    traitsDLC: string[];
    biography: string;
    battlesBase: [string, string][];
    battlesDLC: [string, string][];
    equipments: { label: string; href: string }[];
    links: { label: string; href: string }[];
};

const {
    intro,
    baseData,
    AttributeFigure,
    dlcData,
    dlcAttributeFigure,
    baseData2,
    dlcData2,
    traitsBase,
    traitsDLC,
    biography,
    battlesBase,
    battlesDLC,
    equipments,
    links
} = Astro.props as CharacterWikiProps;

const basename = '《后汉稽异录》';
const dlcname = '《后汉稽异录外传：星命诀》';
const basename_short = '本传';
const dlcname_short = '星命诀';
---

<p>
    登场于{baseData.length > 0 && basename}{baseData.length > 0 && dlcData.length > 0 && '与'}{dlcData.length > 0 && dlcname}的{intro}角色。
</p>
<h2 class="bg-blue-100 text-blue-800 text-2xl font-bold px-2.5 pt-1.5 rounded-sm dark:bg-blue-200 dark:text-blue-800 inline-block">能力</h2>
<div class="flex justify-evenly sm:flex-row flex-col">
    {
        baseData.length > 0 && (
            <div class="flex flex-col items-center">
                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-1.5 pt-1 rounded-sm dark:bg-blue-900 dark:text-blue-300">{basename_short}</span>
                <RadarChart client:load data={baseData} attributefigure={AttributeFigure} />
                <BarChart client:load data={baseData2} />
                <FiveStringTable client:load data={traitsBase} />
            </div>
        )
    }
    {
        dlcData.length > 0 && (
            <div class="flex flex-col items-center">
                <span class="bg-yellow-100 text-yellow-800 text-xs font-medium px-1.5 pt-1 rounded-sm dark:bg-yellow-900 dark:text-yellow-300">
                    {dlcname_short}
                </span>
                <RadarChart_DLC client:load data={dlcData} attributefigure={dlcAttributeFigure} />
                <BarChart client:load data={dlcData2} />
                <FiveStringTable client:load data={traitsDLC} />
            </div>
        )
    }
</div>

<h2 class="bg-blue-100 text-blue-800 text-2xl font-bold px-2.5 pt-1.5 rounded-sm dark:bg-blue-200 dark:text-blue-800 inline-block">列传</h2>
<p class="whitespace-pre-line text-base leading-relaxed">{biography}</p>

<h2 class="bg-blue-100 text-blue-800 text-2xl font-bold px-2.5 pt-1.5 rounded-sm dark:bg-blue-200 dark:text-blue-800 inline-block">登场战役</h2>
<div class="flex flex-col gap-4">
    {
        baseData.length > 0 && (
            <table class="border-2 w-[360px]">
                <thead>
                    <tr class="border-1">
                        <th>{basename_short}</th>
                    </tr>
                </thead>
                <tr>
                    <>
                        <td class="border-1">关卡</td>
                        <td>阵营</td>
                    </>
                </tr>
                {battlesBase.map(([stage, camp]) => (
                    <tr>
                        <>
                            <td class="border-1">{stage}</td>
                            <td>{camp}</td>
                        </>
                    </tr>
                ))}
            </table>
        )
    }
    {
        dlcData.length > 0 && (
            <table class="border-2 w-[360px]">
                <thead>
                    <tr class="border-1">
                        <th>{dlcname_short}</th>
                    </tr>
                </thead>
                <tr>
                    <>
                        <td class="border-1">关卡</td>
                        <td>阵营</td>
                    </>
                </tr>
                {battlesDLC.map(([stage, camp]) => (
                    <tr>
                        <>
                            <td class="border-1">{stage}</td>
                            <td>{camp}</td>
                        </>
                    </tr>
                ))}
            </table>
        )
    }
</div>

<h2 class="bg-blue-100 text-blue-800 text-2xl font-bold px-2.5 pt-1.5 rounded-sm dark:bg-blue-200 dark:text-blue-800 inline-block">关联装备</h2>
<div class="flex flex-col pl-4">
    {equipments.map((e) => <a href={e.href}>{e.label}</a>)}
</div>

<h2 class="bg-blue-100 text-blue-800 text-2xl font-bold px-2.5 pt-1.5 rounded-sm dark:bg-blue-200 dark:text-blue-800 inline-block">更多</h2>
<div class="flex flex-col pl-4">
    {
        links.map((l) => (
            <a href={l.href} target="_blank">
                {l.label}
            </a>
        ))
    }
</div>
