---
type Props = {
    baseOwner: string[];
    dlcOwner: string[];
};

const { baseOwner, dlcOwner } = Astro.props as Props;

import { CHARACTER_MAP } from './characterMap.js';

const getCharacterLink = (name: string) => {
    return CHARACTER_MAP[name as keyof typeof CHARACTER_MAP] || null;
};
---

{
    (baseOwner && baseOwner.length > 0) || (dlcOwner && dlcOwner.length > 0) ? (
        <>
            <h2 class="bg-blue-100 text-blue-800 text-2xl font-bold px-2.5 pt-1.5 rounded-sm dark:bg-blue-200 dark:text-blue-800 inline-block">持有人</h2>
            <div class="flex flex-col pl-4 gap-4">
                {baseOwner && baseOwner.length > 0 && (
                    <div class="flex flex-col items-start">
                        <span class="bg-blue-100 text-blue-800 text-base font-medium px-1.5 pt-1 rounded-sm dark:bg-blue-900 dark:text-blue-300">本传</span>
                        <p class="text-base leading-relaxed">
                            {baseOwner.map((owner, index) => (
                                <span>
                                    {index > 0 && '、'}
                                    {getCharacterLink(owner) ? (
                                        <a href={getCharacterLink(owner)} class="text-blue-600 hover:text-blue-800 hover:underline">
                                            {owner}
                                        </a>
                                    ) : (
                                        <span>{owner}</span>
                                    )}
                                </span>
                            ))}
                        </p>
                    </div>
                )}
                {dlcOwner && dlcOwner.length > 0 && (
                    <div class="flex flex-col items-start">
                        <span class="bg-yellow-100 text-yellow-800 text-base font-medium px-1.5 pt-1 rounded-sm dark:bg-yellow-900 dark:text-yellow-300">
                            星命诀
                        </span>
                        <p class="text-base leading-relaxed">
                            {dlcOwner.map((owner, index) => (
                                <span>
                                    {index > 0 && '、'}
                                    {getCharacterLink(owner) ? (
                                        <a href={getCharacterLink(owner)} class="text-blue-600 hover:text-blue-800 hover:underline">
                                            {owner}
                                        </a>
                                    ) : (
                                        <span>{owner}</span>
                                    )}
                                </span>
                            ))}
                        </p>
                    </div>
                )}
            </div>
        </>
    ) : null
}
